<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Homepage</title>

  <style>
    body {
      padding: 10% 0% 30%;
    }

    .button-group button {
      background-color: darkred;
      color: white;
      border: 1px solid black;
      padding: 20px;
      display: block;
      font-size: 20px;
      width: 40%;
      margin-left: 30%;
    }

    h3 {
      text-align: center;
    }
  </style>

  </head>
  <body>
    <h3>I would like to...</h3>
    <div class = "button-group">
      <button onclick = "window.location.href='/students/new.html'">Submit an Application</button>
      <button onclick = "window.location.href='/students/new.html'">Edit my Application</button>
    </div>

  </body>
</html>
