
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Administration Homepage</title>
    <link rel="stylesheet" href="admin_homepage.css">
  </head>

  <body>
    <h1>Administration Home</h1>

    <hr>

    <h2 class = "section_start"><strong>What would you like to do?</strong></h2>
    <div class = "options">
      <button onclick = "window.location.href='/admin_overview/index.html'">Overview</button>
      <button onclick = "window.location.href='/courses/index.html'">View all Courses</button>
      <button onclick = "window.location.href='/student_reviews/new.html'">Review a Student</button>
      <button onclick = "window.location.href='/student_reviews/show.html'">View Submitted Reviews</button>
    </div>
  </body>

</html>
